html, body, .container-fluid {
  background-color: #D6D8DC;
}

.text-input {
  font-size: 16px;
}

.hash-output {
  color: #575B5E;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  color: #575B5E;
  font-weight: normal;
}

textarea {
  resize: none;
  overflow: hidden;
}

#container {
  display: flex;
  min-height: 100vh;
}

.split {
  width: 50%;
  padding-top: 20px;
}

.left {
  background-color: white;
}

.right {
  background-color: #E0E0E0;
}

html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}



/* Scrollbar theme */
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.mathCol {
    color: red;
}

.graphCol {
  color: blue;
}

.parseCol {
  color: green;
}

.CodeMirror {
  font-family: 'Actor';
  font-size: 16px;
}

.backButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #5c5c5c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #5c5c5c;
	box-shadow:inset 0px 1px 0px 0px #5c5c5c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c5c5c), color-stop(1, #5c5c5c));
	background:-moz-linear-gradient(top, #5c5c5c 5%, #5c5c5c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#5c5c5c',GradientType=0);
	background-color:#5c5c5c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #5c5c5c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Actor';
	font-size:10px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
}
